<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Formulario</h1>
    <form>
        <label for="genero">Genero</label>
        <input type="radio" name="genero" value="femenino">Femenino
        <input type="radio" name="genero" value="masculino">Masculino
        <input type="radio" name="genero" value="otro">Otro
        <br>
        <label for="lenguaje">Lenguajes</label>
        <input type="checkbox" name="lenguaje" value="js">JavaScript
        <input type="checkbox" name="lenguaje" value="python">Python
        <input type="checkbox" name="lenguaje" value="java">Java
        <br>
        <input type="file">
        <br>
        <input type="date" name="date">
        <br>
        <select name="paises" id="">
            <option value="arg">Argentina</option>
            <option value="chi">Chile</option>
            <option value="col">Colombia</option>
            <option value="per">Peru</option>
        </select>
        <br>
        <button type="submit">Send</button>
        <button type="reset">Delete</button>
    </form>
    <h2>Pseudoclas</h2>
    <nav>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</body>
</html>