body {
    background-color: #eac926;
    font-family: 'roboto';
    font-size: 12px;  
    
}
h1{
    font-size: 24px;
}
#precio{
    font-size: 18px;
}
body p{
    font-size: 16px;
}
img{
    border: 5px rgb(34, 0, 255);
}
.burger-menu{
    background-color: blue;
    padding: 8px white;
    text-align: center;
    size-adjust: 1;
}
.centrar-texto{
    text-align: center;
    border: 1px white;
}
footer{
    text-align: center;

}
footer div{
    size: 2em;
    size-adjust: 2em;
}