*{
    margin: 0px;
    padding: 0px;
    box-sizing :border-box;
}
.main-header{
    background-color: #eac926;
    padding: 20px;
    top: 0;
}

body {
    font-family: 'roboto', sans-serif;
    margin-top: auto;
    background-color: #ebebeb;
}
section{
    flex-grow: 0.5;
}
main {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}
.logodisplay{
    padding: 5px;
    flex-grow: 0.5;
}
.main-header-top-bar img{
    width: 40vw;
}
.copy-header{
    text-align: center;
}
.main-navbar{
    display: none;
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
}
.title{
    text-align: center;
    font-size: 12px;
    font-weight: 800;
}
.searchbar{
    width: 80%;
    padding: 1px;
    margin: 10px;
    margin-top: 1px;
    font-size: 15px;
    margin-right: 0px;
}
.button{
    padding: 1px;
    margin-bottom: 20px;
}
.buscador{
    width: 50vw;
}
.titulares{
    font-size: 24px;   
    text-align: center;
}
.truck{
    display: block;
    font-size: 16px;
    text-align: right;
    position: relative;
    right: 3px;
    /* margin-bottom: -10px;
    margin-right: 35px; */
    transition: all 450ms;
}
.fa-truck{
    transition: all 450ms;
}
.contenedor .card .fa-truck:hover{
    transform: rotate(-90deg);
}
.circulo{
    position: relative;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 1px #39b54a;
    color: #39b54a;
    padding: 8px;
    align-items: baseline;
}
.descuentos{
    flex-grow: 0.7;
    font-size: 16px;
    margin: 2px;
    color: #39b54a;
    font-weight: 6em;
}
.precios{
    flex-grow: 0.3;
    font-size: 16px;
    font-weight: 5em;
}
.descrip{
    font-size: 0px;
    font-weight: bolder;
    color: #666;
    margin-top: 10px;
    transition: all 450ms;
}
footer{
    background-color:white
    ;
}
footer p{
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 50px;
}
footer h4{
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}
footer h6{
    text-align: center;
}
.footericons{
    font-size: 2em;
    text-align: center;
    width: 100%;
    color: #1259c3;
    margin-bottom: 10px;
}
.burguer-button{
    display: block;
    background-color: #1259c3;
    color: white;
    padding: 15px 0;
    max-width: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.contenedor{
    margin: auto;
    background-color: none;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
 }
 .contenedor .card{
    border-top: solid 1px #ebebeb;
    background-color: white;
    border-bottom: solid 10 px #ebebeb;
    margin: 1.2px 7.375px;
    text-align: center; 
    width: 180px; 
    height: 250px;
    padding: 8px; ;
    margin-bottom: 10px;
    transition: all 450ms;
}
.contenedor .card:hover{
    background-color: rgba(206, 201, 201, 0.611);
}
.contenedor .card img{
    width: 100x;
    height: 125px;
}
.product{  
    border-top: solid 1px #ebebeb;
    padding: 15px;
    border-bottom: solid 10 px #ebebeb
}
.alinear{
    display: flex;
    margin-bottom: 15px;
    max-width: 150px
}
.create-form{
    margin-top: 260px;
}
.control-formulario{
    margin-bottom: 15px;
}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
.control{
    width: 100%;
    padding: 8px;
}
.boton-formulario{
    background-color:#39b54a;
    border: none;
    font-size: 20px;
    color: #ffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.titureg{
    font-weight:bolder;
    font-style: oblique;
    color: black;
}
.botonComp{
    font-size: 12px;
    font-size: bolder;
}

  .aclara{
    font-size: 10px;
    color: #666;
  }
  .contenedor-form{
    margin-top: 12px;
    text-align: center;
    border-radius: 0.375rem;
  }
  .registermain{
    padding-left: 1px;
  }
  .reglon{
    border-radius: 0.375rem;
    border: 0;
    height: 25px;
    width: 300px;
    padding-left: 10px;
    text-align: left;
    border-color: #ffffff;
    font-style: inherit;
    font-size: 12px;
    background: white;
    overflow: hidden;
}
  .reglon2{
    border-radius: 0.375rem;
    border: 0;
    padding-left: 10px;
    text-align: left;
    border-color: #ffffff;
    font-style: inherit;
    font-size: 12px;
    width: 300px;
    height: 25px;
    background: white;
    overflow: hidden;
}.contbotonsend{
    
    text-align: center;
    margin-bottom: 20px;
}
.botonsend{
    text-align: center;
    width: 340px;
    border-radius: 0.375rem;
    background-color: #1259c3;
    color: #ffffff;
    height: 24px;
    font-style: inherit;
    transition: all 450ms;
}
.botonsend:hover{
    background-color: #0022AA;
}
@media (min-width: 361px){
    .descrip{
        font-size: 0px;
        margin: auto;
        margin-bottom: 10px;
        padding: 5px;
        transition: all 500ms;
    }
    .descrip:hover{
        font-size: 14px;
    }
    .contenedor{
    margin: auto;
    background-color: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
 }
 .contenedor .card{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
 }
 .main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
 }
    }
@media(min-width: 769px){
    article{
      box-shadow:none
    }
    .main-header-top-bar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .copy-header{
        text-align: right;
    }
    .burguer-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
}
@media (min-width: 1200px){
    .main-header-top-bar, .main-navbar{
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .main-navbar{
        margin: 0 10 px; 
    }
    .copy-header{
        text-align: right;
        margin: 0;
    }
    .main-navbar{
        margin-top: 40px;
    }
    .main-navbar a{
        font-size: 16px;
    }
    .contenedor-footer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

    }
}
